.root {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 8px;

  &.MultiValue {
    width: 100%;
    max-width: 100%;
    min-width: 0;

    :global(.MuiAutocomplete-inputRoot) {
      flex-wrap: wrap;
    }
  }

  .inputRoot {
    width: auto !important;
  }
}
