.root {
  .Control {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 100%;

    .AttachInput {
      flex-shrink: 0;
      input {
        display: none;
      }
    }

    .SelectedFile {
      width: 100%;
      display: flex;
      align-items: center;
      overflow: hidden;

      .SelectedFileName {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
