.root {
  padding: 20px;
  display: flex;

  .SaveBtn {
    position: sticky;
    bottom: 16px;
    right: 16px;
    align-self: flex-end;
  }

  .SingleQuestion {
    margin: 5px 0;
    padding: 5px;

    &:hover {
      background-color: #e9e9e9;
    }
  }

  .Control {
    margin-bottom: 20px;
  }

  .ImagePreview {
    display: block;
    max-width: 150px;
  }
}
