.root {
  height: 100%;

  .GridWithControls {
    height: 100%;
    display: flex;
    flex-direction: column;

    .TopBar {
      display: flex;
      justify-content: space-between;
    }

    .MoviesGrid {
      height: 100%;
    }
  }

  .CellWithoutPadding {
    padding: 0;
  }
}

.PaginationContainer {
  display: flex;
  align-items: center;

  .LoaderHidden {
    visibility: hidden;
  }
}
