.CellWithoutPaddings {
  padding: 0;
  text-align: center;
}

.AgGrid {
  --ag-cell-horizontal-padding: 8px;
  --ag-material-primary-color: #8b6ac6;
  --ag-material-accent-color: #2962ff;
  --ag-checkbox-indeterminate-color: var(--ag-material-accent-color);
  width: 100%;
  min-width: 0;

  :global(.ag-body-viewport),
  :global(.ag-center-cols-viewport) {
    -webkit-overflow-scrolling: touch;
  }
}