.ArrayInputItem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 8px;
  min-width: 0;
  max-width: 100%;

  .ArrayInputItemRenderer {
    flex: 1;
    min-width: 0;
    width: auto;
  }
}